<div id="dashboard-request-approval-modal-<%= request.id %>" class="modal request-approval-wrapper">
  <div class="modal-content">
    <%= form_for request do |f| %>
      <%= f.label "Request Title" %>
      <%= f.text_field :transaction_title, disabled: true, placeholder: "Ex. Business Logo" %>
      <%= f.label "Request Message" %>
      <%= f.text_area :request_message, disabled: true, class: "materialize-textarea col-s12", size: "12x12"  %>
      <%= f.label "Deadline" %>
      <%= f.text_field :deadline, disabled: true, class: "datepicker" %>
      <div class="checkbox-wrapper">
        <%= check_box_tag :include_message, class:"include-message-check-box" %>
        <%= label_tag :include_message, "Include Message to Sender" %>
      </div>
      <%= text_area_tag :response_message, "", class:"message-text-area materialize-textarea" %>
      <%= f.submit "Accept", class: "waves-effect waves-light btn", name: "accept_status", value: "accept" %>
      <%= f.submit "Decline", class: "waves-effect waves-light btn", name: "accept_status", value: "decline" %>
    <% end %>
  </div>
</div>
