<div class="dashboard-request-badge-wrapper">
  <%= badge_for_request(request) %>
</div>
<div class="dashboard-request-header-wrapper row">
  <span class="dashboard-sidebar-item-name col m10"><%= request.transaction_title %></span>
  <div class="dashboard-sidebar-header-view-button-wrapper col m2">
    <%= link_to "View","#dashboard-request-modal-#{request.id}", class: "dashboard-request-view-button waves-effect waves-light btn modal-trigger" %>
  </div>

  <%= render partial: 'dashboard/dashboard_request_modal', locals: { request: request } %>
</div>
<div class="dashboard-request-content-wrapper row">
  <span class="dashboard-sidebar-item-requester col m5">Requested By: <%= User.find_by(id: request.recipient_id).display_name %></span>
  <span class="dashboard-sidebar-item-deadline col m7">Deadline: <%= request.deadline.strftime("%B %d, %Y") %></span>
</div>
<% if !request.progress.nil? && request.progress.length > 0 || request.creator_id == current_user.id %>
  <div class="progress-tracker-wrapper row">
    <div class ="progress-tracker-header-wrapper col s12">
      <span class="progress-title">Milestones</span>
      <% if request.creator_id == current_user.id %>
        <%= link_to "#dashboard-request-progress-marker-modal-#{request.id}", class: "dashboard-side-bar-add-marker modal-trigger" do%>
        <div class="btn btn-small">Add Milestone</div>
        <% end %>
      <% end %>
    </div>
    <div id="transaction-progress-tracker" class="col s12">
      <%= render partial: "layouts/transaction_progress_tracker", locals: { request: request } %>
    </div>
  </div>
<% end %>
<div class="divider"></div>
