<div class="container row" id="profile-wrapper">
  <div class="left-side col s5 l4">
    <div class="profile-img">
      <%= image_tag @user.image.url(:large)%>
    </div>
    <%= render 'user_rating' %>
    <p class="name"><%= @name %></p>
    <p class="display-name">@<%= @user.display_name %></p>
    <%if current_user.id!=params[:id].to_i%>
      <!-- FIXME: Partial routing error -->
      <%# render 'request_message' %>
    <%end%>
    <%= render 'reviews/form' %>
    <%= render 'reviews/list' %>
  </div>
  <div class="right-side col s7 l8">
    <div class="card about-me-wrapper">
        <span class="card-header">
          <p class="title-text">About Me</p>
          <% if current_user.id == params['id'].to_i %>
            <%= link_to "Edit", '#about-me-edit-modal', class: "modal-trigger waves-effect waves-light btn", id: "about-me-edit-button" %>
            <%= render 'layouts/about_me_edit_modal' %>
          <% end %>
        </span>
        <br />
        <p class="card-content about-me-content"> <%= @user.biography %> </p>
    </div>
    <% current_user.portfolios.each do |portfolio| %>
      <%= render partial: 'layouts/portfolio', locals: { portfolio: portfolio } %>
    <% end %>
    <div id="add-button-wrapper">
      <%= link_to "+ Add Portfolio", '#portfolio-create-modal', class: "modal-trigger waves-effect waves-light btn", id: "add-portfolio-button" %>
      <%= render 'layouts/portfolio_create_modal' %>
    </div>
  </div>
</div>
