<% provide(:title, 'Sign up') %>
<%= render :partial => "layouts/settings_side_bar" %>
<div class="wrapper">
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <%= form_for(@user) do |f| %>
        <div class="input-field">
          <%= f.label :first_name, class: "active" %>
          <%= f.text_field :first_name %>
        </div>

        <div class="input-field">
          <%= f.label :last_name, class: "active" %>
          <%= f.text_field :last_name %>
        </div>

        <div class="input-field">
          <%= f.label :email, class: "active" %>
          <%= f.text_field :email %>
        </div>

        <div class="input-field">
          <%= f.label :display_name, class: "active" %>
          <%= f.text_field :display_name %>
        </div>

        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Delete Account", delete_path, class:"waves-effect waves-light red btn", method: :post %>
    </div>
  </div>
</div>
