<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="block text-center" style="background: white; border-radius: 10px; margin: 20px">
      <p><strong>ID:</strong> <%= r.id %></p>
      <p><strong>Requested By:</strong> <%= current_user.first_name+" "+current_user.last_name %></p>
      <% @user=User.find_by(id: r.recipient_id.to_i) %>
        <p><strong>Work Done By:</strong> <%= @user.first_name+" "+@user.last_name %></p>
        <p><strong>Amount:</strong> <%= "$"+r.amount.to_s %></p>
        <% if current_user.id.to_i != r.creator_id.to_i && r.status!="Finished"%>
            <%= button_to "Comfirm", { action: "comfirm", id: r.id }%>
            <%= button_to "Reject", { action: "reject", id: r.id }%>
        <% elsif current_user.id.to_i == r.creator_id.to_i %>
        <%= button_to "Remove", { action: "remove", id: r.id }%>
        <%= button_to "Edit", { action: "edit", id: r.id }%>
        <% end %>
    </div>
  </div>
</div>
