<div id="chat-create-modal" class="modal">
  <div class="modal-content about-me-edit-wrapper">
    <p class="modal-title">Send Message</p>
    <%= form_for [chat = Chat.new(id: -1), chat.messages.new], {action: "create", controller: "messages", method: "post", remote: true} do |f| %>
      <div class="input-field">
        <%= f.label "Recipient" %>
        <%= f.text_field :recipient_name, class: "autocomplete", id: "autocomplete-input" %>
      </div>
      <div class="input-field">
        <%= f.label "Message" %>
        <%= f.text_area :content, class: "materialize-textarea col-s12", size: "12x12"  %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :new_chat, value: true %>
      <%= f.submit "Send", class: "waves-effect waves-light btn send-message-button"%>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('input.autocomplete').autocomplete({
      data: {
        <% @users = User.all.where.not(id: current_user) %>
        <% @users.each do |user| %>
          <% if user == @users.last %>
            "<%= user.display_name %>": null
          <% else %>
            "<%= user.display_name %>": null,
          <% end %>
        <% end %>
      },
      limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
      minLength: 0, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
});
</script>
