<div class="user-cell row">
  <%= link_to chats_path(user_id: user), remote: true, method: :post do %>
  <%= image_tag user.image.url(:small), class: "user-cell-profile-picture col m3" %>
  <div class="user-cell-right-side-wrapper col m9">
    <div class="user-cell-right-side">
      <div class="user-cell-header-wrapper">
        <div class="user-cell-display-name"><%= user.display_name %></div>
        <div class="user-cell-recent-message-time"><%= chat.messages.last.created_at.strftime("%^b %e") %></div>
      </div>
      <div class="user-cell-recent-message-wrapper">
        <div class="user-cell-recent-message"><%= chat.messages.last.content %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
