$('#chat').html(`<%= j(render 'chats/chat', chat: @chat, user: current_user) %>`);
$('.messages-list').scrollTop($('.messages-list')[0].scrollHeight);

active_id = $('.message-users').find('.active').attr('id');

// Updates side bar when a user sends a message
sidebarHtml = ""
sidebarHtml +=`
<li class="user-list-heading">
  <p class="user-list-title">Messages</p>
  <%= link_to "#chat-create-modal", class: "create-message-link modal-trigger" do %>
    <i class="material-icons user-list-send-button">send</i>
  <% end %>
</li>`
<% User.all.where.not(id: current_user).each do |user| %>
  <% chat = Chat.get(current_user.id, user.id) %>
  <% if chat.messages.length > 0 %>
    if (active_id == user.id) {
      sidebarHtml += '<li class="user-list-item active" id="<%= user.id %>">'
    } else {
      sidebarHtml += '<li class="user-list-item" id="<%= user.id %>">'
    }
    sidebarHtml +=  `<%= render partial: 'chats/user_cell.html.erb', locals: {user: user, chat: chat} %>`
    sidebarHtml += '</li>'
  <% end %>
<% end %>
$('.message-users').html(sidebarHtml)
