
<div id="container">
  <div class="row">
    <div class="col s12 m12 l3">
      <nav class="search-title-filter">
        <div class="nav-wrapper">
          <%= form_tag('/discover', method: :get, role: 'form', :id=>"discover-search-form", remote: true) do %>
          <div class="input-field">
            <%= text_field_tag :search_query, params[:search_query] , type: 'search', id: "user_search", :icon=>"material-icons" %>
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </div>
      </nav>

      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">pin_drop</i>Popular Tags</div>
          <div class="collapsible-body">
            <%= select_tag :tags, options_from_collection_for_select(@tags, 'name', 'name'), {:multiple=>true, :class => 'myselect', id: "tag_search", placeholder: "search"} %>
          </div>
        </li>

        <li>
          <div class="collapsible-header active"><i class="material-icons">label</i>Reviews</div>
          <div class="collapsible-body filter-container">

            <ul>
              <%(1..5).each do |r|  %>
                <li>
                  <input type="checkbox" name="review" class="review_status" id="review<%=r %>"  value=<%=r %> />
                  <label for="review<%=r %>"><%=r %> Star</label>
                </li>
              <% end %>
            </ul>

          </div>
        </li>
      </ul>

    </div>
    <% end %>




    <!-- Cards container -->
    <div class="col s12 m12 l9">
      <h4>User</h4>
      <div class="user_results">
      </div>
    </div>
</div>




<script>

$('input.review_status').on('change', function() {
    $('input.review_status').not(this).prop('checked', false);
});

$(function () {
  $(".review_status").on('change', function () {

    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

$('input.review').on('change', function() {
    $('input.review').not(this).prop('checked', false);
});

$(".myselect").select2();
$(document).ready(function() {
  $('select#box_assoc_items').select2({
    placeholder: 'choose items',
    multiple: true
  });
});
$(function () {
  $("#user_search").on('keyup', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

$(function () {
  $("#tag_search").on('change', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

$(function () {
  $(".check-marks").on('change', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});


$(function () {
  $(".review_range").on('change', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
  });
});

</script>
