<div class="container-fluid row dashboard-wrapper">
  <div class="requests-column col l9 m9 s12">
    <div class="card card-content">
      <ul class="tabs tabs-fixed-width dashboard-sidebar-request-tabs">
        <li class="tab col s3"><a class="active" href="#dashboard-sidebar-incoming-requests">Incoming Requests</a></li>
        <li class="tab col s3"><a href="#dashboard-sidebar-outgoing-requests">Outgoing Requests</a></li>
      </ul>
      <div class="dashboard-sidebar-items-container incoming-request-wrapper" id="dashboard-sidebar-incoming-requests">
        <ul class="dashboard-sidebar-items">
          <% if @incoming_requests.any? %>
            <% @incoming_requests.each do |request| %>
              <li class="dashboard-sidebar-item">
                <%= render partial: 'dashboard/dashboard_sidebar_request', locals: { request: request } %>
              </li>
              <%= render partial: 'dashboard/dashboard_request_modal', locals: { request: request } %>
              <%= render partial: 'dashboard/dashboard_request_progress_marker_modal', locals: { request: request } %>
            <% end %>
          <% else %>
            <div class="no-requests">You have not received any requests yet!</div>
          <% end %>

        </ul>
      </div>
      <div class="dashboard-sidebar-items-container outgoing-request-wrapper" id="dashboard-sidebar-outgoing-requests">
        <ul class="dashboard-sidebar-items">
          <% if @outgoing_requests.any? %>
            <% @outgoing_requests.each do |request| %>
            <li class="dashboard-sidebar-item">
              <%= render partial: 'dashboard/dashboard_sidebar_request', locals: { request: request } %>
            </li>
            <% end %>
          <% else %>
            <div class="no-requests">You have not sent any requests yet!</div>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
  <div class="notifications-column col l3 m3 s12">
    <div class="notifications-card card">
      <div class="card-content">
        <span class="card-title">Notifications</span>
        <ul class="dashboard-notification-list">
          <% if @notifications.any? %>
            <% @notifications.reverse.each do |notification| %>
            <li class="dashboard-notification-item" data-id="<%= notification.id %>">
              <%= render partial: 'dashboard/dashboard_notification', locals: { request: notification.notifiable, notification: notification } %>
            </li>
            <div class="divider"></div>
            <% end %>
          <% else %>
            <div class="no-notifications">No Notifications</div>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
    cluster: '<%= ENV['PUSHER_CLUSTER'] %>'
  });

  var channel = pusher.subscribe('user_<%= current_user.id %>');

  channel.bind('new_notificaiton', function(data) {
    $.ajax({
      url: '/notifications/update',
      type: "POST"
    });
  });

<% end %>
