<div class="container-fluid row">
  <div class="col l4 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <div class="carddashboard-sidebar-items-container">
          <h1 class="dashboard-sidebar-header">Open Requests</h1>
          <ul class="dashboard-sidebar-items">
            <% @incoming_requests.each do |request| %>
            <li class="dashboard-sidebar-item">
              <a href="#" class="dashboard-sidebar-item-name"><%= request.transaction_title %></a>
              </br>
              <span class="dashboard-sidebar-item-requester">Requested By: <a><%= User.find_by(id: request.recipient_id).display_name %></a></span>
              <span class="dashboard-sidebar-item-deadline">Deadline: <a><%= request.deadline %></a></span>
              <div class="divider"></div>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="dashboard-sidebar-items-container">
          <h1 class="dashboard-sidebar-header">My Transactions</h1>
          <ul class="dashboard-sidebar-items">
            <% @outgoing_requests.each do |request| %>
            <li class="dashboard-sidebar-item">
              <a href="#" class="dashboard-sidebar-item-name"><%= request["name"] %></a>
              </br>
              <span class="dashboard-sidebar-item-requester">Requested By: <a><%= request["recipient"] %></a></span>
              <span class="dashboard-sidebar-item-deadline">Deadline: <a><%= request["deadline"] %></a></span>
              <div class="divider"></div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col l3 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <span class="card-title">Upcoming Deadlines</span>
        <ul class="deadline-card-items">
          <% @requests.each do |request| %>
          <li class="deadline-card-item">
            <span class="">Deadline: <a><%= request["deadline"] %></a></span>
            <div class="divider"></div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col l3 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <span class="card-title">Upcoming Deadlines</span>
        <%= bar_chart ({"Football" => 10}) %>
      </div>
    </div>
  </div>

  <div class="col l2 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <span class="card-title">Upcoming Deadlines</span>
      </div>
    </div>
  </div>

</div>
