<div class="container-fluid row">
  <div class="col l4 m4 s12">
    <div class="card">
      <div class="card-content">
        <h1 class="dashboard-sidebar-header">Requests</h1>
        <ul class="tabs tabs-fixed-width dashboard-sidebar-request-tabs">
          <li class="tab col s3"><a class="active" href="#dashboard-sidebar-incoming-requests">Incoming</a></li>
          <li class="tab col s3"><a href="#dashboard-sidebar-outgoing-requests">Outgoing</a></li>
        </ul>
        <div class="dashboard-sidebar-items-container incoming-request-wrapper" id="dashboard-sidebar-incoming-requests">
          <ul class="dashboard-sidebar-items">
            <% @incoming_requests.each do |request| %>
              <li class="dashboard-sidebar-item">
                <%= render partial: 'dashboard/dashboard_sidebar_request', locals: { request: request } %>
              </li>
              <%= render partial: 'dashboard/dashboard_request_modal', locals: { request: request } %>
              <%= render partial: 'dashboard/dashboard_request_progress_marker_modal', locals: { request: request } %>
            <% end %>
          </ul>
        </div>
        <div class="dashboard-sidebar-items-container outgoing-request-wrapper" id="dashboard-sidebar-outgoing-requests">
          <ul class="dashboard-sidebar-items">
            <% @outgoing_requests.each do |request| %>
            <li class="dashboard-sidebar-item">
              <%= render partial: 'dashboard/dashboard_sidebar_request', locals: { request: request } %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <span class="card-title">Upcoming Deadlines</span>
        <ul class="deadline-card-items">
          <% @requests.each do |request| %>
          <li class="deadline-card-item">
            <span class="">Deadline: <a><%= request.deadline %></a></span>
            <div class="divider"></div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="notifications-card card">
      <div class="card-content">
        <span class="card-title">Notifications</span>
        <% @notifications.each do |notification| %>
        <ul class="dashboard-notification-list">
          <li class="dashboard-notification-item">
            <% if notification.notifiable_type == "Transaction" %>
              <%= render partial: 'dashboard/dashboard_notification_request', locals: { request: notification.notifiable, notification: notification } %>
            <% end %>
            <% if notification.notifiable_type == "Chat" %>
                <%= render partial: 'dashboard/dashboard_notification_message', locals: { request: notification.notifiable, notification: notification } %>
            <% end %>
          </li>
        </ul>
        <div class="divider"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col l4 m4 s12">
    <div class="deadlines card">
      <div class="card-content">
        <span class="card-title">Progress Tracker</span>
        <div id="transaction_progress_tracker">
          <%= render "layouts/transaction_progress_tracker" %>
        </div>
        <!-- <%= bar_chart ({"Football" => 10}) %> -->
      </div>
    </div>
  </div>
</div>
