<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo left">WExchange</a>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "My Profile", profile_path, target: "_self" %></li>
      <li class="divider"></li>
      <li><%= link_to "Sign Up", signup_path, target: "_self" %></li>
      <li class="divider"></li>
      <li><%= link_to "Log In", login_path, target: "_self" %></li>
      <li class="divider"></li>
      <li><%= link_to "Settings", settings_path, target: "_self" %></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path, target: "_self", class: "active" %></li>
      <li><%= link_to "Notifications", notifications_path, target: "_self" %></li>
      <li><%= link_to "Discover", discover_path, target: "_self" %></li>
      <li><%= link_to "Messages", root_path, target: "_self" %></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
