<%@portfolios.each do |portfolio|  %>
<div id="portfolio-wrapper">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="title-wrapper">
          <p id="portfolio-title"><%= portfolio.name %></p>
        </div>
        <p class="short-description"><%= portfolio.description %></p>
      </div>
      <div class="collapsible-body">
        <p class="long-description">More detailed information about the service goes here.</p>
      </div>
      <div class="collapsible-footer">
        <%if !portfolio.photos.nil? %>
          <%portfolio.photos.each do |photo| %>
          <%= image_tag photo.image.url, :alt => "Portfolio Image", id:"portfolio-picture"%>
          <%end %>
        <%end %>
        <%= link_to "Add" , {action: "addPhoto", controller: "portfolios",  id: portfolio.id}, class: "active waves-effect waves-light btn"%>
        <%= link_to "Delete" , {action: "delete", controller: "portfolios",  id: portfolio.id}, class: "active waves-effect waves-light btn"%>

    </li>
  </ul>
</div>
<%end%>
