<div id="portfolio-create-modal" class="modal">
  <div class="modal-content portfolio-modal-wrapper row">
    <p class="title">Create Portfolio</p>
      <%= simple_form_for @portfolio, :html => { :multipart => true, :id => "fileupload", :class => "col s12"  } do |f| %>
        <%= f.input :name, placeholder: "Ex. Graphic Design", class: "col s10" %>
        <%= f.input :description, class: "materialize-textarea col s10" %>

        <%=render 'layouts/uploads', f:f %>
        <%= f.input :tag_list , collection: @tags, value_method: :name, label_method: :name, input_html: { multiple: true, class: 'tags' }%>

        <div class="create-portfolio-button-wrapper col s3">
          <%= hidden_field(:user_id, current_user.id.to_i) %>
          <%= f.submit "Create", class: "waves-effect waves-light btn" %>
        </div>
      <% end %>
  </div>
</div>




<script>

$(document).ready(function(){
  $('.tags').select2({
    tags: [],
    placeholder: 'Add Tags',
  });
});
</script>


<script>
Dropzone.options.imgUpload = {
    clickable: true,
	  addRemoveLinks: true,
    dictDefaultMessage: "Click/Drag images here to upload",
    init: function() {
                this.on("complete", function(file, response) {
                		debugger;
                    $('.dz-progress').hide();
                    $('.dz-size').hide();
                    $('.dz-error-mark').show();
                    console.log(response);
                    console.log(file);
                    cd = response;
                });
            }
};

</script>
