<div id="portfolio-wrapper">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="title-wrapper">
          <p id="portfolio-title"><%= portfolio.name %></p>
          <% if current_user.id == params['id'].to_i %>
            <%= link_to "Edit", '#portfolio-edit-modal', class: "modal-trigger waves-effect waves-light btn", id: "portfolio-edit-button" %>
            <%= render partial: 'layouts/portfolio_edit_modal', locals: { portfolio: portfolio } %>
          <% end %>
        </div>
        <p class="short-description"><%= portfolio.description %></p>
      </div>

      <div class="collapsible-body">
        <p class="long-description">More detailed information about the service goes here.</p>
        <p>Tags:</p>
        <% portfolio.tags.each do |tag| %>
          <div class="chip">
          <%= link_to tag.name, discover_path, :tag=>tag.name %>
          </div>
        <% end %>
      </div>

      <%= render partial: 'layouts/portfolio_media', locals: { portfolio: portfolio } %>

        <%= link_to "Add" , {action: "addPhoto", controller: "portfolios",  id: portfolio.id}, class: "active waves-effect waves-light btn"%>
        <%= link_to "Delete" , {action: "delete", controller: "portfolios",  id: portfolio.id}, method: "delete", class: "active waves-effect waves-light btn"%>
    </li>
  </ul>
</div>




<!-- <script>
$(".various").fancybox({
    maxWidth: 800,
    maxHeight: 600,
    fitToView: false,
    width: '70%',
    height: '70%',
    autoSize: false,
    closeClick: false,
    openEffect: 'elastic',
    closeEffect: 'none'
});

$(".fancybox").fancybox({
    loop : true,

    afterLoad: function(current, previous) {
        console.info( 'Current: ' + current.href );
        console.info( 'Previous: ' + (previous ? previous.href : '-') );

        if (previous) {
            console.info( 'Navigating: ' + (current.index > previous.index ? 'right' : 'left') );
        }
    }
});
</script> -->
