<div id="portfolio-edit-modal" class="modal">
  <div class="modal-content portfolio-modal-wrapper">
    <p class="title">Edit Portfolio</p>
    <%= form_for (portfolio) do |f| %>
      <div class="col s12">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Ex. Graphic Design" %>
      </div>
      <div class="col s12">
        <%= f.label :description %>
        <%= f.text_area :description, class: "materialize-textarea" %>
      </div>
      <%=render 'layouts/edituploads', f:f, portfolio: portfolio %>

      <div class="button-wrapper col s12">
        <%= hidden_field(:user_id, current_user.id.to_i) %>
        <%= f.submit "Save", class: "waves-effect waves-light btn" %>
      </div>
    <% end %>
  </div>
</div>
