<div id="portfolio-create-modal" class="modal">
  <div class="modal-content portfolio-modal-wrapper">
    <p class="title">Create Portfolio</p>
    <div class="container">
      <%= form_for @portfolio, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
      <div class="col s12">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Ex. Graphic Design" %>
      </div>
      <div class="col s12">
        <%= f.label :description %>
        <%= f.text_area :description, class: "materialize-textarea" %>
      </div>
      <%=render 'layouts/uploads', f:f %>
      <div class="button-wrapper col s3">
        <%= hidden_field(:user_id, current_user.id.to_i) %>
        <%= f.submit "Create", class: "waves-effect waves-light btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
