<div class="landing-page-background home-form-wrapper row">
    <h1 class="home-form-title">Sign Up</h1>
    <div class="sign-up-form col m6 offset-m3">
      <%= form_for(@user) do |f| %>
        <div class="input-field col m12 validate">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>

        <div class="input-field col m12 validate">
          <%= f.label :last_name  %>
          <%= f.text_field :last_name %>
        </div>

        <div class="input-field col m12 validate">
          <%= f.label :email  %>
          <%= f.text_field :email %>
        </div>

        <div class="input-field col m12 validate">
          <%= f.label :display_name  %>
          <%= f.text_field :display_name %>
        </div>

        <div class="input-field col m12 validate">
          <%= f.label :password  %>
          <%= f.password_field :password %>
        </div>

        <div class="input-field col m12 validate">
          <%= f.label :password_confirmation  %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="input-field col m12 center">
          <%= f.submit "Sign Up", class: "active waves-effect waves-light btn"  %>
        </div>
      <% end %>
    </div>
</div>


<script>
function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
               $('#profile-uploader')
                   .attr('src', e.target.result);
           };

           reader.readAsDataURL(input.files[0]);
       }
   }
</script>


<style>
img{
  max-width:180px;
}
input[type=file]{
padding:10px;a}
</style>
