<div id="transaction-create-modal" class="modal">
  <div class="modal-content transaction-create-wrapper">
    <p class="modal-title">Create Request</p>
    <%= form_for Transaction.new , :html => {:multipart => true } do |f| %>
      <div class="input-field">
        <%= f.label "Request Title" %>
        <%= f.text_field :transaction_title %>
      </div>
      <div class="input-field">
        <%= f.label "Request Message" %>
        <%= f.text_area :request_message, class: "materialize-textarea col-s12", size: "12x12"  %>
      </div>
      <div class="deadline-field">
        <%= f.label "Deadline" %>
        <%= f.date_field :deadline %>
      </div>

      <div class="input-field">
        <%= file_field_tag "request_files[]", type: :file, multiple: true, id: "files" %>

      </div>

      <%= f.hidden_field :creator_id, value: params[:id] %>
      <%= f.submit "Send", url: {controller: 'transactions', action: 'create'}, class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>
