<!DOCTYPE html>
<html>
  <head>
    <title>WExchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="select2-materialize.css" type="text/css" rel="stylesheet" > -->
  </head>
  <%= render 'layouts/navigation' %>
  <body>
    <%= yield %>
  </body>
</html>
