<!DOCTYPE html>
<html>
  <head>
    <title>WExchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<<<<<<< HEAD

    <!-- jsDelivr :: Sortable (http://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>

    <!-- jsDelivr :: Sortable :: Latest (http://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
=======
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="select2-materialize.css" type="text/css" rel="stylesheet" > -->
>>>>>>> 96668721a7ec7845ff8f0df1fb5f7dbc8843c572
  </head>
  <%= render 'layouts/navigation' %>
  <body>
    <%= yield %>
  </body>
</html>
