<!DOCTYPE html>
<html>
  <head>
    <title>WExchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="//js.pusher.com/3.1/pusher.min.js"></script>

  </head>
  <%= render 'layouts/navigation' %>
  <body>
    <div class="flash-wrapper">
      <% flash.each do |name, msg| %>
        <div class="flash-<%= name %> flash-error-messages" list-style-type=square>
          <% if msg.class == String %>
            <%= msg %>
          <% else %>
            <%= msg.map{|item| '- '+item}.join("<br/>").html_safe %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>

<% if !current_user.nil? %>
  <%= javascript_tag do %>

    var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
      cluster: '<%= ENV['PUSHER_CLUSTER'] %>'
    });

    var channel = pusher.subscribe('user_<%= current_user.id %>');

    channel.bind('new_notificaiton', function(data) {
      $.ajax({
        url: '/navigation/update',
        type: "POST"
      });
    });

  <% end %>
<% end %>
