<!DOCTYPE html>
<html>
  <head>
    <title>WExchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="//js.pusher.com/3.1/pusher.min.js"></script>
  </head>
  <%= render 'layouts/navigation' %>
  <body>
    <div class="flash-wrapper">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: 'error-message' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
